/// scroll bar

.sidebar, .navbar {
    border: 0px;
}
 .navbar{
    border-bottom: 2px  solid #1e1d45;
}

/* width */
::-webkit-scrollbar {
  height: 4px;
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1d45; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #15f115; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #15f115; 
}

::-webkit-scrollbar-thumb:horizontal{
    background: #15f115;
    border-radius: 10px;
}

body {
    background-color: #100d23;
}


///  Tip and warnings


.custom-block.tip {
    background-color: #1e1d45;
    border-color: #15f115;
}

.custom-block.warning {
    background-color: #1e1d45;
    border-color: #defe47;
}


.custom-block.warning .custom-block-title {
    color: #defe47;
}


.custom-block.warning {
    color: white;
}

/// General Styling

html, body, .navbar, .sidebar, .links, .nav-dropdown {
  background-color: #100d23 !important;
}

.search-box {
    margin-top: -5px;
    }

.search-box input {
    color: #131313;
    background-color: #100d23 !important;
    width: 14rem !important;
}

.suggestions > *{
    color: #131313;
    background-color: #100d23 !important;
    border: solid 1px white!important;
    margin: 10px 0px;
}

.suggestions > *:hover{
    border: solid 1px #15f115!important;
    box-shadow: rgba(0,255,0,0.6) 0px 0px 8px;
}

.suggestions {
    color: #131313;
    background-color: #100d23 !important;
    margin: 0px 0px;
}


body {
      font-family: 'Inconsolata';
}

p {
    line-height: 27px !important;
}

li {
    line-height: 23px;
}


/// Sidebar Styling
.sidebar > .sidebar-links > li:not(:first-child) {
    margin-top: 0.25rem;
}

.sidebar-sub-headers a.sidebar-link {
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
}

/// Code Block Styling
[id*="output"] + p, [id*="output"] + div,{
  background-color: #1e1d45;
    padding: 2%;
    border: 1px solid #15f115;
    box-shadow: rgba(0,255,0,0.6) 0px 0px 8px;
    margin-top: 16px;
    margin-bottom: 50px;
    min-height: 80px;
    border-radius: 0.7rem;
}

/// Code Block Styling
[id*="in-the-dom"] + p, [id*="in-the-dom"] + div,{
  background-color: #1e1d45;
    box-shadow: #1a00ff 0px 0px 8px;
}

a.sidebar-link.active, a.sidebar-link.hover {
    text-shadow: rgba(0, 255, 0, 0.6) 0px 0px 7px
}

[id*="input"] + div{
    background-color: #1e1d45;
    box-shadow: #ff2a6d 0px 0px 8px;
    border-radius: 0.7rem;
}

p code {
  background-color:  #1e1d45 !important;
}


/// Logo

span.site-name {
   color: #15f115 !important;
}

span.site-name:hover {
  text-shadow: rgba(0, 255, 0, 1) 0px 0px 10px;
}

/// Components

// Button
button {
    padding: 10px 20px;
    background-color: #1e1d45;
    color: #ffffff;
    border: 1px solid #15f115
    border-radius: 0.7rem;
    margin-bottom: 20px

}

button.large {
    min-width: 50%;
    margin: 1rem auto;
}

button:focus {outline:0;}

button:hover {
    padding: 10px 20px;
    background-color: #15f115;
    border: 1px solid #1e1d45;
    color: #1e1d45;
    box-shadow: rgba(0, 255, 0, 0.6) 0px 0px 8px;
}

// Input
input {
    cursor: text;
    width: 10rem;
    height: 2rem;
    color: white;
    background-color: #1e1d45;
    display: inline-block;
    border: 1px solid white;
    border-radius: 0.7rem;
    font-size: 0.9rem;
    line-height: 2rem;
    padding: 0 0.5rem 0 2rem;
    outline: none;
    transition: all 0.2s ease;
    background-size: 1rem;
    margin: 5px 0px;
}


// Text area
textarea, {
    border-radius: 0.7rem;
    min-width: 90%;
    margin: 0 auto;
    min-height: 150px;
    line-height: 28px;
    font-size: 17px;
    padding: 3%;
    color: white ;
    background-color: #1e1d45;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 1px solid white;
    
}

textarea:focus, input:focus {
    border-radius: 0.7rem;
    border: 1px solid #15f115;
    outline: none;
    box-shadow: #15f115 0px 0px 8px;
    color: #15f115;
}

legend {
    font-weight: 800;
    margin-top: 10px;
}

// Checkbox

input[type='checkbox'] {
    width: 1rem;
    height: 1rem;
    margin-bottom: 12px;
}

input:checked + label {
    color: #1e1d45;
}

// Radio

input[type='radio'] {
    width: 1rem;
    height: 1rem;
    margin-bottom: 12px;
}

// Select
.select-css {
    display: block;
    font-size: 14px;
    padding: 0.6em 1.4em 0.5em 0.8em;
    min-width: 290px;
    margin-top: 20px;
    background-color: #100d23;
    color: white;
    height: 37px;
}

// Toggle Switch
input.switch, input.switch-template, input.switchShow {
    display: none;
}
label.toggle {
    cursor: pointer;
    display: block;
    border: 1px solid #15f115;
    border-radius: 0.7rem;
    width: 40px;
    height: 20px;
    position: relative;
    transition: all 0.2s;
}
label.toggle:after {
    content: '';
    background-color: #FFF;
    border: 1px solid #1e1d45;
    border-radius: 0.7rem;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s;
}
input:checked + label {
    background-color: #15f115;
    border-color: #15f115;
    box-shadow: rgba(0, 255, 0, 0.6) 0px 0px 8px;
}
input:checked + label:after {
    left: 20px;
    border-color: #15f115;
}
 
 // Child Component

 .child {
  border: solid 1px #05D9E8;
  box-shadow: #d1f7ff 0px 0px 8px;
  padding: 5px 20px;
}
.child>div {
      padding: 15px 5px;
    }


/// Pages styling

.theme-default-content:not(.custom) > h4 {
    margin-bottom: 16px;
}

// contact page

.hidden {
    display: none;
}


// JAVASCRIPT Section

// Logo
.js span.site-name {
    color: #fffb96 !important;
    text-shadow: rgba(255,251,150,0.6) 0px 0px 8px;
     }

// Menu
@media (min-width: 719px) {
    .js .nav-item > a:not(.external):hover,.js .nav-item > a:not(.external).router-link-active {
        border-bottom: 2px solid #fffb96;
    }
}

div.theme-container.js {
    background: rgb(173,169,255);
background: linear-gradient(92deg, rgba(173,169,255,1) 0%, rgba(212,197,255,1) 44%, rgba(255,182,255,1) 100%);
min-height: 100vh !important;
}

.js , .js .sidebar, .js .navbar,  .js .links, .js .search-box input{
    background-color: rgba(0,0,0,0.0) !important;
}

.js .navbar {
    background-color:  rgba(173,169,255, 1) !important;
}
// Scrollbar

/* Track */
.js a.sidebar-link.active, .js  a.sidebar-link.hover, .js a span {
    text-shadow: rgba(255,251,150,0.6) 0px 0px 8px;
    }

.js .navbar {
    border-bottom: 2px solid #fffb96 !important;
}

.js p , .js h1, .js h2, .js h3,.js h4,.js h5, .js li{
    color : #3D457F !important
}

 .js h1{
    font-family: 'Caveat', cursive;
}


.js ::-webkit-scrollbar-track {
  background: #bdb8fb !important; 
}



.js a, .js a.sidebar-link {
    color : #3D457F ;
    }
 
/* Handle */
.js ::-webkit-scrollbar-thumb {
  background: #fffb96 !important;
}

/* Handle on hover */
.js ::-webkit-scrollbar-thumb:hover {
  background: #fffb96 !important; 
}

.js ::-webkit-scrollbar-thumb:horizontal{
    background: #fffb96 !important;
}
 
 .js .sidebar-heading.open,.js .sidebar-heading:hover, .js a.sidebar-link:hover,  .js a span:hover, .js .sidebar-heading.clickable:hover{
    color: #fffb96 !important;
    text-shadow: rgba(255,251,150,0.6) 0px 0px 8px;
}

.js .active {
    color: #fffb96 !important;
        text-shadow: rgba(255,251,150,0.6) 0px 0px 8px;
    border-left-color: #fffb96 !important;;
}

.js .nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active {
    margin-bottom: 2px solid #fffb96 !important;;
    }

.js .language-js, .js .line-numbers-mode, {
    background: #3D457F;
 }

    .line-numbers-mode::after {
        background-color: rgba(0,0,0,0.0) !important;
        }