html, body, .navbar, .sidebar, .links, .nav-dropdown {
  background-color: #131313 !important;
}

.search-box input{
    color: #131313;
}

body {
      font-family: 'Inconsolata';
}

p {
    line-height: 27px !important;
}

[id*="output"] + p, [id*="output"] + div{
  background-color: #191c21;
    padding: 2%;
    border: 1px solid #00ff00;
    box-shadow: rgba(0,255,0,0.6) 0px 0px 7px
    margin-top: 16px;
}

a.sidebar-link.active, a.sidebar-link.hover {
    text-shadow: rgba(0, 255, 0, 0.6) 0px 0px 7px
}

[id*="input"] + div{
  background-color: #191c21;
    box-shadow: #f09 0px 0px 7px;
}

.theme-default-content:not(.custom) > h4 {
    margin-bottom: 16px;
}

span.site-name {
   color: #00ff00 !important;
}

span.site-name:hover {
  text-shadow: rgba(0, 255, 0, 1) 0px 0px 10px;
}

p code {
  background-color:  #2a2a2a !important;
}

button {
    padding: 10px 20px;
    background-color: #191c21;
    color: #ffffff;
    border: 1px solid #00ff00
    border-radius: 1rem;
}

button:focus {outline:0;}

button:hover {
    padding: 10px 20px;
    background-color: #191c21;
    color: #00ff00;
    border: 1px solid #00ff00
    box-shadow: rgba(0, 255, 0, 0.6) 0px 0px 7px;
}

input {
    cursor: text;
    width: 10rem;
    height: 2rem;
    color: #f5f5f5;
    display: inline-block;
    border: 1px solid #404040;
    border-radius: 2rem;
    font-size: 0.9rem;
    line-height: 2rem;
    padding: 0 0.5rem 0 2rem;s
    outline: none;
    transition: all 0.2s ease;
    background: #fff 0.6rem 0.5rem no-repeat;
    background-size: 1rem;
}

input[type="text"] {
    color: #191c21;
}


