html, body, .navbar, .sidebar, .links, .nav-dropdown {
  background-color: #100d23 !important;
}

.search-box input{
    color: #131313;
}

body {
      font-family: 'Inconsolata';
}

p {
    line-height: 27px !important;
}

[id*="output"] + p, [id*="output"] + div{
  background-color: #1e1d45;
    padding: 2%;
    border: 1px solid #00ff00;
    box-shadow: rgba(0,255,0,0.6) 0px 0px 7px
    margin-top: 16px;
}

a.sidebar-link.active, a.sidebar-link.hover {
    text-shadow: rgba(0, 255, 0, 0.6) 0px 0px 7px
}

[id*="input"] + div{
  background-color: #1e1d45;
    box-shadow: #f09 0px 0px 7px;
}

.theme-default-content:not(.custom) > h4 {
    margin-bottom: 16px;
}

span.site-name {
   color: #00ff00 !important;
}

span.site-name:hover {
  text-shadow: rgba(0, 255, 0, 1) 0px 0px 10px;
}

p code {
  background-color:  #1e1d45 !important;
}

button {
    padding: 10px 20px;
    background-color: #1e1d45;
    color: #ffffff;
    border: 1px solid #00ff00
    border-radius: 1rem;
    margin-bottom: 20px

}

button:focus {outline:0;}

button:hover {
    padding: 10px 20px;
    background-color: #00ff00;
    border: 1px solid #1e1d45;
    color: #1e1d45;
    box-shadow: rgba(0, 255, 0, 0.6) 0px 0px 7px;
}

input {
    cursor: text;
    width: 10rem;
    height: 2rem;
    color: #f5f5f5;
    display: inline-block;
    border: 1px solid #404040;
    border-radius: 2rem;
    font-size: 0.9rem;
    line-height: 2rem;
    padding: 0 0.5rem 0 2rem;s
    outline: none;
    transition: all 0.2s ease;
    background: #fff 0.6rem 0.5rem no-repeat;
    background-size: 1rem;
}

input[type="text"],input[type="number"],  {
    color: #1e1d45;
}

.custom-block
  &.tip
    background-color: $codeBgColor



// Toggle Switch
input.switch {
    display: none;
}
label {
    cursor: pointer;
    display: block;
    border: 1px solid #00ff00;
    border-radius: 11px;
    width: 40px;
    height: 20px;
    position: relative;
    transition: all 0.2s;
}
label:after {
    content: '';
    background-color: #FFF;
    border: 1px solid #1e1d45;
    border-radius: 10px;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s;
}
input:checked + label {
    background-color: #00ff00;
    border-color: #00ff00;
    box-shadow: rgba(0, 255, 0, 0.6) 0px 0px 7px;
}
input:checked + label:after {
    left: 20px;
    border-color: #00ff00;
}
 