// colors
$accentColor = #15f115
$textColor = #f2f2f2
$borderColor = #474747
$codeBgColor = #1e1d45
$arrowBgColor = #ccc
$badgeTipColor = #15f115
$badgeWarningColor = #f08d49
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 25rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
